
@{
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<body>
    <!-- Header End -->
    <div class="container-xxl py-5 bg-dark page-header mb-5">
        <div class="container my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Contact</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb text-uppercase">
                    <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Liên hệ với chúng tôi</h1>
            <div class="row g-4">
                <div class="col-12">
                    <div class="row gy-4">
                        <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex align-items-center bg-light rounded p-4">
                                <div class="bg-white border rounded d-flex flex-shrink-0 align-items-center justify-content-center me-3" style="width: 45px; height: 45px;">
                                    <i class="fa fa-map-marker-alt text-primary"></i>
                                </div>
                                <span>123 Street, Thu Dau 1, VietNam</span>
                            </div>
                        </div>
                        <div class="col-md-4 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex align-items-center bg-light rounded p-4">
                                <div class="bg-white border rounded d-flex flex-shrink-0 align-items-center justify-content-center me-3" style="width: 45px; height: 45px;">
                                    <i class="fa fa-envelope-open text-primary"></i>
                                </div>
                                <span>quoccthinhh03@gmail.com</span>
                            </div>
                        </div>
                        <div class="col-md-4 wow fadeIn" data-wow-delay="0.5s">
                            <div class="d-flex align-items-center bg-light rounded p-4">
                                <div class="bg-white border rounded d-flex flex-shrink-0 align-items-center justify-content-center me-3" style="width: 45px; height: 45px;">
                                    <i class="fa fa-phone-alt text-primary"></i>
                                </div>
                                <span>+84 963920003</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.772663893038!2d106.67289930928158!3d10.980524689135786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d1085e2b1c37%3A0x73bfa5616464d0ee!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBUaOG7pyBE4bqndSBN4buZdA!5e0!3m2!1svi!2s!4v1694842549429!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-md-6">
                    <div class="wow fadeInUp" data-wow-delay="0.5s">
                        <p class="mb-4">Chào mừng bạn đến với nền tảng tìm kiếm việc làm của chúng tôi! Khám phá một loạt các cơ hội nghề nghiệp hứng thú được tùy chỉnh cho kỹ năng và sở thích của bạn. </p>

                        <p>Khám phá trang web dễ sử dụng của chúng tôi và thực hiện bước tiến tiếp theo đến công việc mơ ước của bạn. Đội ngũ cam kết của chúng tôi sẵn lòng giúp bạn tìm kiếm sự phù hợp hoàn hảo cho ước mơ sự nghiệp của bạn. Hãy tham gia cùng chúng tôi để tạo ra một tương lai thành công!</p>

                        <p>Sẵn sàng để bắt đầu? Đơn giản chỉ cần duyệt qua danh sách việc làm có sẵn và khi bạn tìm thấy cơ hội hoàn hảo, đừng ngần ngại nộp đơn. Bước tiến sự nghiệp của bạn chỉ là một cú nhấp chuột!</p>

                        <p>Có câu hỏi hoặc cần sự hỗ trợ? Liên hệ với đội ngũ hỗ trợ của chúng tôi và chúng tôi sẽ rất vui lòng hướng dẫn bạn qua quy trình. Sự thành công của bạn là ưu tiên hàng đầu của chúng tôi!</p>

                    </div>
                </div>


            </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

</body>

