
@{
    ViewBag.Title = "ApplyJobSuccess";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<div class="apply-success-container">
    <h1 class="apply-success-title">Apply Job Success</h1>

    <div class="apply-success-message">
        <p>Đơn ứng tuyển của bạn đã được gửi thành công.</p>
        <p>Nhà tuyển dụng sẽ liên hệ với bạn trong thời gian sớm nhất.</p>
        <p>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.</p>
    </div>
</div>

<style>
 

    .apply-success-container {
        max-width: 600px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .apply-success-title {
        color: #333;
        text-align: center;
    }

    .apply-success-message {
        margin-top: 20px;
        text-align: center;
        
    }
</style>