
@{
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<body>
    <!-- Header End -->
    <div class="container-xxl py-5 bg-dark page-header mb-5">
        <div class="container my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">About</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb text-uppercase">
                    <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="row g-0 about-bg rounded overflow-hidden">
                        <div class="col-6 text-start">
                            <img class="img-fluid w-100" src="~/img/about-1.jpg">
                        </div>
                        <div class="col-6 text-start">
                            <img class="img-fluid" src="~/img/about-2.jpg" style="width: 85%; margin-top: 15%;">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid" src="~/img/about-3.jpg" style="width: 85%;">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid w-100" src="~/img/about-4.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="mb-4">Chúng tôi giúp bạn có được công việc tốt nhất</h1>
                    <p class="mb-4">



                    </p>
                    <p><i class="fa fa-check text-primary me-3"></i>  Chào mừng bạn đến với trang web tìm việc của chúng tôi! Chúng tôi tự hào là đối tác đáng tin cậy của bạn trong việc tìm kiếm công việc tốt nhất. Với đội ngũ chuyên gia tận tâm và nhiệt huyết, chúng tôi cam kết mang đến cho bạn những cơ hội nghề nghiệp đáng kể.</p>
                    <p>
                        <i class="fa fa-check text-primary me-3"></i>                        Tại đây, bạn sẽ không chỉ tìm thấy các công việc phù hợp với kỹ năng và sở thích của mình mà còn được hỗ trợ bởi các dịch vụ chăm sóc khách hàng xuất sắc. Chúng tôi tin rằng mỗi người đều có quyền atoạ lựa chọn công việc mơ ước của mình, và chúng tôi ở đây để giúp bạn biến ước mơ đó thành hiện thực.
                    </p>
                    <p>
                        <i class="fa fa-check text-primary me-3"></i>                        Hãy cùng chúng tôi bắt đầu hành trình tìm kiếm công việc mới, nơi mà sự nghiệp của bạn có thể phát triển và bạn có thể tỏa sáng. Chúng tôi luôn sẵn lòng hỗ trợ bạn trên mọi bước đường. Chúc bạn may mắn và thành công trên con đường sự nghiệp!
                    </p>

                    <form action="@Url.Action("SaveComment", "About")" method="post">
                        <div class="mb-3">
                            <label for="comment" class="form-label">Nhập ý kiến của bạn:</label>
                            <textarea class="form-control" id="comment" name="comment" rows="5" placeholder="Nhập ý kiến của bạn tại đây..." required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Gửi</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

</body>

