@{
    ViewBag.Title = "Thống kê số lượng đơn ứng tuyển";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h1>Thống kê số lượng đơn ứng tuyển</h1>
<p>Tổng số lượng đơn ứng tuyển: @ViewBag.CountDonUngTuyen</p>
